<footer id="footer">
  <nav class="nabvar nabvar-dark bg-dark">
    <div class="container">
      <br>
      <p class="mb1"></p>
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4 text-white">
            <p>&copy;2021 Copyright Shuhei Watanabe.</p>
          </div>
          <div class="col-xs-8 col-md-8 col-lg-8">
            <!-- Social media -->
            <a href="https://github.com/nabenabe0928" target="_blank" class="btn btn-social btn-github">
              <span class="fa fa-github"></span>Github</a>
            <a href="https://scholar.google.com/citations?hl=en&user=jqKQ2xoAAAAJ" target="_blank"
              class="btn btn-social btn-google">
              <span class="fa fa-google"></span>Google Scholar</a>
            <a href="https://www.linkedin.com/in/shuhei-watanabe-4a3175194/" target="_blank"
              class="btn btn-social btn-linkedin">
              <span class="fa fa-linkedin"></span>LinkedIn</a>
            <a href="https://qiita.com/nabenabe0928" target="_blank" class="btn btn-success">Qiita</a>
            <!--
              <a href="https://nabenabe0928.hatenablog.com/" target="_blank" class="btn btn-light">Blog</a>
            -->
          </div>
        </div>
      </div>
      <br>
    </div>
  </nav>
</footer>
