<header id="header">
  <nav class="nabvar nabvar-dark bg-dark">
    <div class="container">
      <br>
      <a class="navbar-brand text-white" href="index.html">
        <font size="+3">Shuhei Watanabe</font>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu"
        aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white"><i class="fa fa-bars fa-1x"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <div class="navbar-nav">
          <a class="nav-item nav-link text-white" href="index.html">Home</a>
          <a class="nav-item nav-link text-white" href="research.html">Research Experiences</a>
          <a class="nav-item nav-link text-white" href="software.html">Softwares</a>
        </div>
      </div>
    </div>
  </nav>
</header>
